Fuentes .NET/Procesos GTI/LeerRegistraciones/LeerRegistraciones/Service References/ServiceSpec/WebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WebService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IWebServiceContract_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://rhjirastorza2:8091/WebService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://rhjirastorza2:8091/WebService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://rhjirastorza2:8091/WebService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HTTPServers.WCFWebServer.WebServices" />
      <xsd:import schemaLocation="http://rhjirastorza2:8091/WebService?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWebServiceContract_List_InputMessage">
    <wsdl:part name="parameters" element="tns:List" />
  </wsdl:message>
  <wsdl:message name="IWebServiceContract_List_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListResponse" />
  </wsdl:message>
  <wsdl:message name="IWebServiceContract_ListFields_InputMessage">
    <wsdl:part name="parameters" element="tns:ListFields" />
  </wsdl:message>
  <wsdl:message name="IWebServiceContract_ListFields_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListFieldsResponse" />
  </wsdl:message>
  <wsdl:message name="IWebServiceContract_Get_InputMessage">
    <wsdl:part name="parameters" element="tns:Get" />
  </wsdl:message>
  <wsdl:message name="IWebServiceContract_Get_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResponse" />
  </wsdl:message>
  <wsdl:message name="IWebServiceContract_GetFields_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFields" />
  </wsdl:message>
  <wsdl:message name="IWebServiceContract_GetFields_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFieldsResponse" />
  </wsdl:message>
  <wsdl:message name="IWebServiceContract_Set_InputMessage">
    <wsdl:part name="parameters" element="tns:Set" />
  </wsdl:message>
  <wsdl:message name="IWebServiceContract_Set_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetResponse" />
  </wsdl:message>
  <wsdl:message name="IWebServiceContract_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IWebServiceContract_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IWebServiceContract_GetResults_InputMessage">
    <wsdl:part name="parameters" element="tns:GetResults" />
  </wsdl:message>
  <wsdl:message name="IWebServiceContract_GetResults_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetResultsResponse" />
  </wsdl:message>
  <wsdl:message name="IWebServiceContract_Results_InputMessage">
    <wsdl:part name="parameters" element="tns:Results" />
  </wsdl:message>
  <wsdl:message name="IWebServiceContract_Results_OutputMessage">
    <wsdl:part name="parameters" element="tns:ResultsResponse" />
  </wsdl:message>
  <wsdl:message name="IWebServiceContract_Clockings_InputMessage">
    <wsdl:part name="parameters" element="tns:Clockings" />
  </wsdl:message>
  <wsdl:message name="IWebServiceContract_Clockings_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClockingsResponse" />
  </wsdl:message>
  <wsdl:message name="IWebServiceContract_GetTimeSlot_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTimeSlot" />
  </wsdl:message>
  <wsdl:message name="IWebServiceContract_GetTimeSlot_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTimeSlotResponse" />
  </wsdl:message>
  <wsdl:message name="IWebServiceContract_SetTimeSlot_InputMessage">
    <wsdl:part name="parameters" element="tns:SetTimeSlot" />
  </wsdl:message>
  <wsdl:message name="IWebServiceContract_SetTimeSlot_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetTimeSlotResponse" />
  </wsdl:message>
  <wsdl:message name="IWebServiceContract_AddPlanning_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPlanning" />
  </wsdl:message>
  <wsdl:message name="IWebServiceContract_AddPlanning_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPlanningResponse" />
  </wsdl:message>
  <wsdl:message name="IWebServiceContract_GetDateRange_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDateRange" />
  </wsdl:message>
  <wsdl:message name="IWebServiceContract_GetDateRange_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDateRangeResponse" />
  </wsdl:message>
  <wsdl:portType name="IWebServiceContract">
    <wsdl:operation name="List">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebServiceContract/List" message="tns:IWebServiceContract_List_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebServiceContract/ListResponse" message="tns:IWebServiceContract_List_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListFields">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebServiceContract/ListFields" message="tns:IWebServiceContract_ListFields_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebServiceContract/ListFieldsResponse" message="tns:IWebServiceContract_ListFields_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Get">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebServiceContract/Get" message="tns:IWebServiceContract_Get_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebServiceContract/GetResponse" message="tns:IWebServiceContract_Get_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFields">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebServiceContract/GetFields" message="tns:IWebServiceContract_GetFields_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebServiceContract/GetFieldsResponse" message="tns:IWebServiceContract_GetFields_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Set">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebServiceContract/Set" message="tns:IWebServiceContract_Set_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebServiceContract/SetResponse" message="tns:IWebServiceContract_Set_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebServiceContract/Delete" message="tns:IWebServiceContract_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebServiceContract/DeleteResponse" message="tns:IWebServiceContract_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetResults">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebServiceContract/GetResults" message="tns:IWebServiceContract_GetResults_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebServiceContract/GetResultsResponse" message="tns:IWebServiceContract_GetResults_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Results">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebServiceContract/Results" message="tns:IWebServiceContract_Results_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebServiceContract/ResultsResponse" message="tns:IWebServiceContract_Results_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Clockings">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebServiceContract/Clockings" message="tns:IWebServiceContract_Clockings_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebServiceContract/ClockingsResponse" message="tns:IWebServiceContract_Clockings_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTimeSlot">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebServiceContract/GetTimeSlot" message="tns:IWebServiceContract_GetTimeSlot_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebServiceContract/GetTimeSlotResponse" message="tns:IWebServiceContract_GetTimeSlot_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetTimeSlot">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebServiceContract/SetTimeSlot" message="tns:IWebServiceContract_SetTimeSlot_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebServiceContract/SetTimeSlotResponse" message="tns:IWebServiceContract_SetTimeSlot_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPlanning">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebServiceContract/AddPlanning" message="tns:IWebServiceContract_AddPlanning_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebServiceContract/AddPlanningResponse" message="tns:IWebServiceContract_AddPlanning_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDateRange">
      <wsdl:input wsaw:Action="http://tempuri.org/IWebServiceContract/GetDateRange" message="tns:IWebServiceContract_GetDateRange_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWebServiceContract/GetDateRangeResponse" message="tns:IWebServiceContract_GetDateRange_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IWebServiceContract" type="tns:IWebServiceContract">
    <wsp:PolicyReference URI="#WSHttpBinding_IWebServiceContract_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="List">
      <soap12:operation soapAction="http://tempuri.org/IWebServiceContract/List" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListFields">
      <soap12:operation soapAction="http://tempuri.org/IWebServiceContract/ListFields" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Get">
      <soap12:operation soapAction="http://tempuri.org/IWebServiceContract/Get" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFields">
      <soap12:operation soapAction="http://tempuri.org/IWebServiceContract/GetFields" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Set">
      <soap12:operation soapAction="http://tempuri.org/IWebServiceContract/Set" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap12:operation soapAction="http://tempuri.org/IWebServiceContract/Delete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetResults">
      <soap12:operation soapAction="http://tempuri.org/IWebServiceContract/GetResults" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Results">
      <soap12:operation soapAction="http://tempuri.org/IWebServiceContract/Results" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Clockings">
      <soap12:operation soapAction="http://tempuri.org/IWebServiceContract/Clockings" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTimeSlot">
      <soap12:operation soapAction="http://tempuri.org/IWebServiceContract/GetTimeSlot" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetTimeSlot">
      <soap12:operation soapAction="http://tempuri.org/IWebServiceContract/SetTimeSlot" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPlanning">
      <soap12:operation soapAction="http://tempuri.org/IWebServiceContract/AddPlanning" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDateRange">
      <soap12:operation soapAction="http://tempuri.org/IWebServiceContract/GetDateRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService">
    <wsdl:port name="WSHttpBinding_IWebServiceContract" binding="tns:WSHttpBinding_IWebServiceContract">
      <soap12:address location="http://rhjirastorza2:8091/WebService" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://rhjirastorza2:8091/WebService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>