Fuentes .NET/Procesos GTI/LeerRegistraciones/LeerRegistraciones/Service References/ServiceReference1/WebService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://rhjirastorza2:8091/WebService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HTTPServers.WCFWebServer.WebServices" />
  <xs:import schemaLocation="http://rhjirastorza2:8091/WebService?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="List">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HTTPServers.WCFWebServer.WebServices" minOccurs="0" name="container" type="q1:WSContainer" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HTTPServers.WCFWebServer.WebServices" minOccurs="0" name="ListResult" nillable="true" type="q2:WSElement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListFields">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HTTPServers.WCFWebServer.WebServices" minOccurs="0" name="container" type="q3:WSContainer" />
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="fields" nillable="true" type="q4:ArrayOfstring" />
        <xs:element minOccurs="0" name="filter" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListFieldsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/HTTPServers.WCFWebServer.WebServices" minOccurs="0" name="ListFieldsResult" nillable="true" type="q5:WSElement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Get">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/HTTPServers.WCFWebServer.WebServices" minOccurs="0" name="container" type="q6:WSContainer" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/HTTPServers.WCFWebServer.WebServices" minOccurs="0" name="GetResult" nillable="true" type="q7:WSElement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFields">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/HTTPServers.WCFWebServer.WebServices" minOccurs="0" name="container" type="q8:WSContainer" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element xmlns:q9="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="fields" nillable="true" type="q9:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFieldsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/HTTPServers.WCFWebServer.WebServices" minOccurs="0" name="GetFieldsResult" nillable="true" type="q10:WSElement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Set">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/HTTPServers.WCFWebServer.WebServices" minOccurs="0" name="container" type="q11:WSContainer" />
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/HTTPServers.WCFWebServer.WebServices" minOccurs="0" name="element" nillable="true" type="q12:WSElement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Delete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/HTTPServers.WCFWebServer.WebServices" minOccurs="0" name="container" type="q13:WSContainer" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResults">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employeeId" type="xs:int" />
        <xs:element minOccurs="0" name="firstDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="lastDate" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetResultsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/HTTPServers.WCFWebServer.WebServices" minOccurs="0" name="GetResultsResult" nillable="true" type="q14:WSElement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Results">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employeeId" type="xs:int" />
        <xs:element minOccurs="0" name="type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="firstDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="lastDate" type="xs:dateTime" />
        <xs:element xmlns:q15="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="resultsNames" nillable="true" type="q15:ArrayOfstring" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ResultsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/HTTPServers.WCFWebServer.WebServices" minOccurs="0" name="ResultsResult" nillable="true" type="q16:ArrayOfResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Clockings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employeeId" type="xs:int" />
        <xs:element minOccurs="0" name="firstDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="lastDate" type="xs:dateTime" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/HTTPServers.WCFWebServer.WebServices" minOccurs="0" name="type" type="q17:ClockingType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ClockingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/HTTPServers.WCFWebServer.WebServices" minOccurs="0" name="ClockingsResult" nillable="true" type="q18:ArrayOfClocking" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeSlot">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employeeId" type="xs:int" />
        <xs:element minOccurs="0" name="readerId" type="xs:int" />
        <xs:element minOccurs="0" name="day" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeSlotResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/HTTPServers.WCFWebServer.WebServices" minOccurs="0" name="GetTimeSlotResult" nillable="true" type="q19:WSElement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTimeSlot">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employeeId" type="xs:int" />
        <xs:element minOccurs="0" name="startDay" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDay" type="xs:dateTime" />
        <xs:element minOccurs="0" name="readerId" type="xs:int" />
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/HTTPServers.WCFWebServer.WebServices" minOccurs="0" name="timeSlots" nillable="true" type="q20:WSElement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetTimeSlotResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetTimeSlotResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPlanning">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="employeeId" type="xs:int" />
        <xs:element minOccurs="0" name="planningName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="allDay" type="xs:boolean" />
        <xs:element minOccurs="0" name="startMinute" type="xs:int" />
        <xs:element minOccurs="0" name="endMinute" type="xs:int" />
        <xs:element minOccurs="0" name="timeTypeId" type="xs:int" />
        <xs:element xmlns:q21="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="dateInterval" nillable="true" type="q21:ArrayOfdateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddPlanningResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddPlanningResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDateRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="dateList" nillable="true" type="q22:ArrayOfdateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDateRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/HTTPServers.WCFWebServer.WebServices" minOccurs="0" name="GetDateRangeResult" nillable="true" type="q23:WSElement" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>